:root {
  --bg-color: #fff;
  --color-primary: #3b51c9;
  --color-secondary: #ff66e0;
  --color-success: #00b300;
  --color-alert: #ff0000;
  --btn-background-color: #fff;
  --btn-radius: 15px;
  --input-border: #333;
  --input-border-focus: #666dff;
  --input-darken-border: #666dff;
  --input-border-radius: 10px;
  --font-size-small: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 2rem;
  --gap-small: 0.5rem;
  --gap-medium: 1rem;
  --gap-large: 2rem;
  --font-family-primary: "Roboto", sans-serif;
  --border-width: 3px;
  --border-radius: 10px;
  --btn-icon-size: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333;
  }
}

body {
  background-color: var(--bg-color);
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
}
